<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <title>Acessimath</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbrand">
        <h1><a href="/" class="brand">AcessiMath</a></h1>
        <div class="burger" id="burger">
          <span class="burger-open">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16">
              <g fill="#FFFFFF" fill-rule="evenodd">
                <path d="M0 0h24v2H0zM0 7h24v2H0zM0 14h24v2H0z" />
              </g>
            </svg>
          </span>
          <span class="burger-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
              <path
                fill="#FFFFFF"
                fill-rule="evenodd"
                d="M17.778.808l1.414 1.414L11.414 10l7.778 7.778-1.414 1.414L10 11.414l-7.778 7.778-1.414-1.414L8.586 10 .808 2.222 2.222.808 10 8.586 17.778.808z"
              />
            </svg>
          </span>
        </div>
      </div>
      <ul class="menu" id="menu">
        <li class="menu-item"><a href="/" class="menu-link">Home |</a></li>
        <li class="menu-item"><a href="/sobre" class="menu-link">Sobre</a></li>
      </ul>
    </nav>
    <div class="container">
      <div id="app">
        <div v-if="debug.length" v-html="debug" class="debug"></div>
        <div class="close">
          <a href="/">
            <img src="../img/close.png" />
          </a>
        </div>
        <h3>Atividades {{ level }} - {{ current.titulo }}</h3>
        <h2>{{ current.descricao }}</h2>
        <img class="img-question"
          v-if="current.questions.length && current.questions[0].isImageQuestion"
          :src="'/img/' + current.questions[0].ImageQuestion"
        />

        <ol>
          <li
            v-for="item in current.questions"
            v-on:click="selectAnswer(item.question)"
            class="option-atividades"
          >
            <div class="question">
              <p>{{ item.question }}</p>
            </div>

            <div v-if="item.isImage" class="img">
              <img
                v-if="item.isImage"
                :src="'/img/' + item.description"
                width="20px"
              />
            </div>

            <h2 v-if="!item.isImage">{{ item.description }}</h2>
          </li>
        </ol>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script type="text/javascript" src="/js/script-atividades.js"></script>
  </body>
</html>
